@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    min-height: 100vh;

    background-image: url("spamton-cielo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: 'Press Start 2P', cursive;

    text-align: center;
}

/* TÍTULO */

h1 {
    color: #ffffff;
    font-size: 30px;

    text-shadow:
        4px 4px 0 #000000;

    padding-top: 30px;
}

/* GIF DE SPAMTON */

.gif-spamton {
    display: block;

    max-width: 300px;

    margin: 30px auto;
}

/* GIF DE PIPIS */

.gif-pipis {
    display: block;

    max-width: 250px;

    margin: 30px auto;
}

/* BOTÓN PIPIS */

#pipisButton {
    display: block;

    margin: 40px auto;

    padding: 20px 40px;

    font-family: 'Press Start 2P', cursive;

    font-size: 20px;

    background: #00ffff;

    color: #000000;

    border: 5px solid #000000;

    box-shadow: 8px 8px 0 #000000;

    cursor: pointer;
}

/* EFECTO AL PASAR EL RATÓN */

#pipisButton:hover {
    transform: scale(1.08);
}

/* EFECTO AL PRESIONAR */

#pipisButton:active {
    transform: translate(6px, 6px);

    box-shadow: 2px 2px 0 #000000;
}
